<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/table.css" />
    <link rel="stylesheet" href="/static/css/global.css" media="all">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
</head>

<body style="background: #EFF8FB;">
    <div>
        <h1>This is Home</h1>
    </div>
</body>
<script src="/static/js/jquery.min.js"></script>


</html>